/* RESET */
*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    min-height: 100vh;
}

img, picture, svg, video {
    display: block;
    max-width: 100%;
}

button, input, textarea, select {
    font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}

/* GENERAL */
:root {
    --color-primary-400: #6FFAFF;
    --color-netural-100: #E9EAEC;
    --color-netural-200: #D6DAE0;
    --color-netural-400: #9EA2A9;
    --color-netural-400-0_5: hsla(218, 6%, 64%, .5);
    --color-netural-800: hsl(220, 18%, 10%);
    --color-netural-800-0_05: hsla(220, 18%, 10%, .05);
    --color-netural-900: #0D0F13;

    --ff-primary: 'Poppins', sans-serif;

    --fw-regular: 400;
    --fw-bold: 500;
    --fw-black: 600;

    --spacing-1x: 1rem;
    --spacing-2x: 2rem;
    --spacing-3x: 3rem;
    --spacing-4x: 4rem;

    --br-regular: .5rem;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: var(--color-netural-900);

    font-family: var(--ff-primary);
    color: var(--color-netural-400);
}

.dots {
    z-index: -10;
    position: fixed;
    top: 0;
    left: 0;

    width: 100vw;
    height: 100vh;

    background-image: url('./public/img/dot.png');
    background-size: 2rem;
    background-position: 55% 100%;

    opacity: .05;
}

.centered-container {
    max-width: 1144px;

    margin-inline: auto;
    padding-inline: var(--spacing-1x);
}

.centered-container--sticky {
    position: sticky;
    z-index: 10;
    top: -1px;

    height: 100%;
}

.centered-container--stuck {
    background-color: var(--color-netural-900);
}

/* HEADER */
.header-barrier {
    height: var(--spacing-4x);
}

.site-header {
    display: flex;
    justify-content: space-between;
}

.logo a {
    font-size: 2rem;
    font-weight: var(--fw-bold);
    color: var(--color-netural-100);

    text-decoration: none;
}

.logo a:where(:hover, :focus) {
    color: var(--color-primary-400);
}

.site-navigation__mobile-button {
    display: none;
}

.site-navigation__list {
    height: 100%;   

    display: flex;
    gap: var(--spacing-2x);
    list-style: none;
}

.site-navigation__list-item-link {
    display: flex;
    align-items: center;
    height: 100%;

    font-weight: var(--fw-bold);
    text-decoration: none;
    color: var(--color-netural-400);
}


.site-navigation__list-item-link:where(:hover, :focus) {
    color: var(--color-primary-400);
}

/* MAIN */
.main-section {
    display: flex;
    flex-direction: column;
}

/* PERSONAL DESCRIPTION */
.personal-description {
    margin-bottom: var(--spacing-2x);
}

/* PROJECTS */
.work-container {
    margin-bottom: var(--spacing-4x);   

    display: flex;
    gap: var(--spacing-1x);
    justify-content: center;
    flex-wrap: wrap;
}

.project-card {
    max-width: 360px;

    --highlight-x: -250px;
    --highlight-y: -250px;
}

.project-card__border {
    padding: 1px;

    border-radius: var(--br-regular);
    background: radial-gradient(250px circle at var(--highlight-x) var(--highlight-y), var(--color-netural-400-0_5), transparent), var(--color-netural-800);
}

.project-card__information {
    position: relative;

    display: flex;
    flex-direction: column;
    gap: var(--spacing-1x);
    padding: var(--spacing-2x);

    border-radius: var(--br-regular);
    background-color: var(--color-netural-800);
}

.project-card__information::before {
    content: '';
    opacity: 0;
    
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    border-radius: var(--br-regular);
    background: radial-gradient(250px circle at var(--highlight-x) var(--highlight-y), var(--color-netural-800-0_05), transparent);

    transition: opacity 500ms ease;
}

.project-card:hover .project-card__information::before {
    opacity: 1;
}

.project-card__image-container {
    position: relative;
    
    width: 290px;
    height: 210px;

    overflow: hidden;

    border-radius: var(--br-regular);
}

.project-card__image {
    width: 290px;   

    border-radius: var(--br-regular);
}

.project-card__image:nth-child(2) {
    position: absolute;
    top: -210px;

    transition: top 500ms ease;
}

.project-card:hover .project-card__image:nth-child(2) {
    top:0;
}

.project-card__tags {
    display: flex;
    gap: 8px;
}

.project-card__tag {
    padding: 2px 16px;

    border-radius: var(--br-regular);
    background-color: #232A38;

    font-size: .875rem;
}

.project-card__details {
    margin-bottom: var(--spacing-2x);

    display: flex;
    flex-direction: column;
    gap: var(--spacing-1x);
}

.project-card__title {
    color: var(--color-netural-200);
    font-size: 1.5rem;
    font-weight: var(--fw-bold);
}

.project-card__description {
    color: var(--color-netural-200);
}

.project-card__controls {
    display: flex;
    gap: var(--spacing-1x);
}

.project-card__control-button {
    padding-block: 8px;

    display: flex;
    gap: 8px;
    align-items: center;

    border: none;
    background-color: transparent;

    color: var(--color-netural-200);
}

.project-card__control-button-icon {
    fill: var(--color-netural-200);
}

/* About */
.about-container {
    margin-block: var(--spacing-4x);

    display: flex;
    gap: var(--spacing-4x);
}

.about-me,
.skills-container {
    flex-basis: 100%;
}

.about-me {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-2x);
}

.about-me__title {
    color: var(--color-netural-200);
    font-size: 2rem;
    font-weight: var(--fw-bold);
}

.about-me__paragraphs {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-2x);
}

.about-me__paragraph {
    line-height: 1.7;
}

.skills-container {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-2x);
}

.skills-container__title {
    color: var(--color-netural-200);
    font-size: 2rem;
    font-weight: var(--fw-bold);
}

.skills-container__skill-lists {
    display: flex;
    gap: var(--spacing-2x) 8px;
    flex-wrap: wrap;
}

.skill-list {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-1x);
}

.skill-list__title {
    color: var(--color-netural-200);
    font-weight: var(--fw-bold);
}

.skill-list__list {
    display: flex;
    flex-direction: column;
    gap: 8px;

    list-style: none;
}

.skill-list__list-item {
    display: flex;
    gap: 8px;
}

.skill-list__list-item-icon {
    fill: var(--color-netural-400);
}

/* CONTACT SECTION */
.contact-section {
    margin-block: var(--spacing-4x);

    display: flex;
    flex-direction: column;
    gap: var(--spacing-2x);
}

.contact-section__title {
    font-size: 2rem;
    font-weight: var(--fw-bold);
}

.contact-method {
    max-width: 412px;

    display: flex;
    flex-direction: column;
    gap: var(--spacing-2x);
}

.contact-method__types {
    display: flex;
    gap: var(--spacing-2x);
}

.contact-method__types-icon {
    fill: var(--color-netural-400);
}

/* A11Y */
.sr-only:not(:focus):not(:active) {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

/* MEDIA QUERIES */
@media (max-width: 720px) {
    .site-navigation__mobile-button {
        display: initial;
        
        border: none;
        background-color: transparent;
    }

    .hamburger {
        position: relative;       
        z-index: 10;

        width: 24px;
        height: 24px;

        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: end;

        cursor: pointer;
    }

    .hamburger__line {
        width: 100%;
        height: 3px;

        border-radius: 16px;
        background-color: var(--color-netural-400);
    }

    .hamburger__line:nth-child(2) {
        width: 80%;
    }

    .hamburger:where(:hover, :focus) .hamburger__line {
        background-color: var(--color-primary-400);
    }

    .site-navigation[data-open="true"] .site-navigation__list {
        position: fixed;
        top: 0;
        left: 0;

        width: 100vw;
        height: 100vh;

        flex-direction: column;
        justify-content: center;
        align-items: stretch;

        background-color: hsla(220, 20%, 3%, .98);
    }   

    .site-navigation[data-open="false"] .site-navigation__list {
        display: none;
    }

    .site-navigation__list-item {
        padding: var(--spacing-1x) var(--spacing-3x);
        display: flex;
        justify-content: center; 
    }

    .site-navigation__list-item-link {
        font-size: 2rem;
        font-weight: var(--fw-bold);
    }

    .about-container {
        flex-wrap: wrap;
    }

    .skills-container__skill-lists {
        justify-content: space-between;
    }
}